<div class="card">
  <div class="right-panel"> <!-- Panel IZQUIERDO!! -->
    <div class="quote-card">
      <div class="quotes-track-wrapper">
        <div class="quotes-track" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">
          @for (q of quotes; track q.text) {
            <div class="quote-slide">
              <p class="quote-text">{{ q.text }}</p>
              <p class="quote-author">{{ q.author }}</p>
            </div>
          }
        </div>
      </div>
      <div class="dots">
        @for (q of quotes; track q.text; let i = $index) {
          <button class="dot" [class.active]="currentIndex === i" (click)="goTo(i)"></button>
        }
      </div>
    </div>
  </div>
  <div class="left-panel"> <!-- Panel DERECHO -->
    <img src="https://i.postimg.cc/QxjpNn21/Logo-Nexora-pequeno.png" alt="Nexora logo" class="logo">
    <h2 class="title">Crear cuenta</h2>
    <p class="subtitle">Vuelve a tu diario financiero para organizar tus presupuestos y asegurar tu tranquilidad económica</p>
    <br>
    <form onsubmit="enviar(event)">
        

      <div class="row">
        <div class="form-group">
          <label>Nombre*</label>
          <input type="text" placeholder="Tu nombre" required>
        </div>
        <div class="form-group">
          <label>Apellidos*</label>
          <input type="text" placeholder="Apellidos" required>
        </div>
      </div>

      <div class="form-group">
        <label>Nombre de usuario*</label>
        <input type="text" placeholder="Tu nombre de usuario" required>
      </div>

      <div class="form-group">
        <label>Correo electrónico*</label>
        <input type="email" placeholder="nexora@example.com" required>
      </div>

      <div class="form-group">
        <label>Contraseña*</label>
        <input type="password" placeholder="Tu contraseña" required>
      </div>

      <button type="submit" class="btn-login">Registrarse</button>

      <p class="register">¿Ya tienes cuenta? <a href="/login">Inicia sesión</a></p>

    </form>
  </div>
</div>