<div class="card">

    <!-- Panel izquierdo: formulario -->
    <div class="left-panel">

        <!-- Logo -->
        <div class="logo" routerLink="/inicio">
            <img src="https://i.postimg.cc/QxjpNn21/Logo_Nexora_pequeño.png" alt="" width="56" height="56" />
        </div>

        <!-- Título y descripción -->
        <h1 class="title">{{ 'LOGIN.TITLE' | translate }}</h1>
        <p class="subtitle">
            {{ 'LOGIN.SUBTITLE' | translate }}
        </p>

        <!-- Formulario -->
        <form (ngSubmit)="onLogin()">
            <!-- Email -->
            <div class="form-group">
                <label for="email">{{ 'LOGIN.EMAIL_LABEL' | translate }}</label>
                <input type="email" id="email" name="email" [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate"
                    [(ngModel)]="email" required />
            </div>

            <!-- Contraseña -->
            <div class="form-group">
                <label for="password">{{ 'LOGIN.PASS_LABEL' | translate }}</label>
                <div class="input-wrapper">
                    <!-- Input dinámico (muestra/oculta contraseña) -->
                    <input [type]="showPassword ? 'text' : 'password'" id="password" name="password"
                        [placeholder]="'LOGIN.PASS_PLACEHOLDER' | translate" [(ngModel)]="password" required />

                    <button type="button" class="toggle-pass"
                        (click)="togglePassword(); $event.stopPropagation(); $event.preventDefault()">
                        @if (!showPassword) {
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="#bbb" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path
                                d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24">
                            </path>
                            <line x1="1" y1="1" x2="23" y2="23"></line>
                        </svg>
                        } @else {
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                            stroke="#bbb" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                            <circle cx="12" cy="12" r="3"></circle>
                        </svg>
                        }
                    </button>
                </div>

                <!-- Recuperar contraseña -->
                <div class="forgot"><a href="#">{{ 'LOGIN.FORGOT' | translate }}</a></div>
            </div>
            @if (successMessage) {
            <div class="alert-success">
                {{ successMessage }}
                <button class="alert-close" (click)="successMessage = ''">✕</button>
            </div>
            }

            @if (errorMessage) {
            <div class="alert-error">
                {{ errorMessage }}
                <button class="alert-close" (click)="errorMessage = ''">✕</button>
            </div>
            }

            <!-- Botón login -->
            <button type="submit" class="btn-login" [disabled]="isLoading">
                @if (isLoading) {
                <span class="spinner"></span> {{ 'LOGIN.BTN_LOADING' | translate }}
                } @else {
                {{ 'LOGIN.BTN' | translate }}
                }
            </button>
        </form>

        <!-- Separador -->
        <div class="divider"><span>{{ 'LOGIN.OR' | translate }}</span></div>

        <!-- Registro -->
        <p class="register">
            {{ 'LOGIN.NO_ACCOUNT' | translate }} <a routerLink="/registro">{{ 'LOGIN.REGISTER_LINK' | translate }}</a>
        </p>
    </div>

    <!-- Panel derecho: parte visual -->
    <div class="right-panel">
        <img src="https://i.postimg.cc/XYpBkbgT/Letras_Nexora.png" alt="Logo Nexora letras" class="logo2">
        <!-- Carrusel de frases -->
        <div class="quote-card">
            <div class="quotes-track-wrapper">
                <div class="quotes-track" [style.transform]="'translateX(-' + (currentIndex * 100) + '%)'">
                    @for (quote of quotes; track $index) {
                    <div class="quote-slide">
                        <p class="quote-text">{{ quote.text | translate }}</p>
                        <p class="quote-author">{{ quote.author | translate }}</p>
                    </div>
                    }
                </div>
            </div>

            <!-- Indicadores -->
            <div class="dots">
                @for (quote of quotes; track $index) {
                <span class="dot" [ngClass]="{ active: $index === currentIndex }" (click)="goTo($index)"></span>
                }
            </div>
        </div>

    </div>
</div>